#header {
    background-color: white;
    border-bottom: 1.5px solid lightgrey;
}
#logo {
    height: 80px;
}
.navbar-nav {
    position:absolute;
    right: 0px;
}
.nav-link {
    margin-left:10px;
    text-align:center;
}
.jumbotron {
    background-size: cover;
    margin-bottom:0px;
    border-radius: 0px;
}
#videoContainer {
    padding: 0px;
    /* position: relative; */
    height:85vh;
    overflow:hidden;
}
video {
    position:relative;
    top:-200px;
    object-fit: fill;
    width: 100vw;
}
.overlay {
    position: absolute;
    width: 40vw;
    background-color: rgba(0,0,0,0.55);
    color:white;
    padding: 50px 30px;
    border-radius: 5px;
    top: 15vw;
    left:10vw;
    margin: 0 auto;
    border: solid 1.5px rgb(100,100,100);
}
.faaLogo {
    height: 125px;
}
.whoWeAre {
    text-align:center;
    /* margin-top: 0px; */
}
.contactForm {
    margin-bottom: 25px;
}
.whoWeAre h2 {
    margin: 0 auto;
}
#FAA {
    padding: 30px 75px 30px 75px;
    margin-top:25px;
}
#compDescription {
    margin-top:0px;
    padding:25px;
    background-color: rgba(245,245,245,0.9);
}

.btn-light {
    font-size: 16px !important;
    padding: 12px;
    background-color: rgb(146,220,150) !important;
    border: solid 1px rgb(146,220,150) !important;
    color: white !important;
}
.btn-primary {
    color: white !important;
    background-color: rgb(146,220,150) !important;
    border: solid 1px rgb(146,220,150) !important;
}
.card-img-top {
    height: 16vw;
}
.faaLicensed {
    display:flex;
    align-items: center;
    text-align:center;
    padding:50px;
}
.faaImage {
    text-align:center;
}
.sampleVideos {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}
.mbl-header {
    display: none;
}
iframe {
    width: 100vw;
    height: 90vh;
}
.whatwedo {
    text-align:center;
    padding: 20px;
}
.fab {
    font-size: 30px;
    color:white;
}
.social {
    margin-top: 10px;
}
.photoCover {
    width: 100%;
    height: 25vh;   
    margin: 0 auto;
}
.follow-request {
    position: relative;
    bottom: 6px;
    color:white;
    margin-left: 5px;
}
a:hover {
    text-decoration: none !important;
}
.photoCoverOverlay {
    background-color: rgba(256,256,256,0.9);
    text-align:center;
    position: relative;
    bottom: 40px;
    width: 100%;
    margin-bottom: 0px;
    padding: 3px;
}
.servicesRow {
    padding: 15px;
    margin-bottom: 25px;
}
.whatwedo h2 {
    margin-bottom: 20px;
}

#footer {
    text-align:center;
    background-color: rgb(146,220,150);
    padding: 15px 0px;
}
#footer p {
    margin-bottom: 0px;
    color:white;
}
@media (max-width: 1367px) {
    #videoContainer {
        height: initial;
    }
    video {
        top: 0px;
    }
}
@media (max-width: 1025px) and (orientation: portrait) {
    .photoCover {
        height: 16vh;
    }
    .overlay h3 {
        font-size: 20px;
    }
}
@media (max-width: 991px) {
    .navbar-nav {
        position: static;
    }
    #FAA {
        padding-right: 0px;
        padding-left: 0px;
    }
    .faaLicensed {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 813px) {
    .overlay .display-4 {
        font-size: 35px;
    }
    .overlay h3 {
        font-size: 25px; 
    }
    .overlay {
        padding: 20px;
    }
    .btn-light {
        padding: 10px;
    }
    .photoCover {
        height: 35vh;
    }
}
@media (max-width: 769px) {
    .display-4 {
        font-size: 40px;
    }
    .overlay {
        top: 175px;
    }
    .photoCover {
        height: 20vh;
    }

}

@media (max-width: 668px) {
    .display-4 {
        font-size: 30px;
    }
    .overlay h3 {
        font-size: 12px;
    }
    .btn-light {
    font-size: 12px !important;
    padding: 5px;
    }
    .video {
        height: 100px;
        top: -100px;
    }
    .photoCover {
        height: 50vh;
        width: 60vw;
    }
    #videoContainer {
        height: 78vh;
    }
    .faaLogo {
        display: none;
    }
    .overlay {
        padding: 10px;
    }
    .card-img-top {
        height: 50vh;
    }
    .card {
        margin-bottom: 20px;
    }
}

@media (max-width: 376px) {
    #videoContainer {
        height: 25vh;
    }
    .photoCover {
        height: 22vh;
    }
    .overlay .display-4 {
        font-size: 14px;
    }
    .overlay {
        top: 125px;
    }
    .overlay h3 {
        font-size: 10px;
    }
    .btn-primary {
        font-size: 12px;
    }
    .card-img-top {
        height: 35vh;
    }
}