#header {
    background-color: white;
    border-bottom: 1.5px solid lightgrey;
}

#logo {
    height: 80px;
}

.navbar-nav {
    position:absolute;
    right: 0px;
}

.nav-link {
    margin-left:10px;
    text-align:center;
}

.jumbotron {
    background-size: cover;
    margin-bottom:0px;
    border-radius: 0px;
}

#videoContainer {
    padding: 0px;
    height: 550px;
    background-image: url("../images/background-image.jpg");
    background-size: cover;
}

    /* video {
        position:relative;
        top:-200px;
        object-fit: fill;
        width: 100vw;
    } */

.overlay {
    position: absolute;
    width: 500px;
    background-color: rgba(0,0,0,0.55);
    color:white;
    padding: 50px 30px;
    border-radius: 5px;
    top: 200px;
    left: 150px;
    margin: 0 auto;
    border: solid 1.5px rgb(100,100,100);
}

.faaLogo {
    height: 125px;
}

.whoWeAre {
    text-align:center;
}

.contactForm {
    margin-bottom: 25px;
}

.whoWeAre h2 {
    margin: 0 auto;
}

#FAA {
    padding: 30px 75px 30px 75px;
    margin-top:25px;
}

#compDescription {
    margin-top:0px;
    padding:25px;
    background-color: rgba(245,245,245,0.9);
}

.btn-light {
    font-size: 16px !important;
    padding: 12px;
    background-color: rgb(146,220,150) !important;
    border: solid 1px rgb(146,220,150) !important;
    color: white !important;
    margin-top: 25px;
}

.btn-primary {
    color: white !important;
    background-color: rgb(146,220,150) !important;
    border: solid 1px rgb(146,220,150) !important;
}

.card-img-top {
    height: 225px;
}

.faaLicensed {
    display:flex;
    align-items: center;
    text-align:center;
    padding:50px;
}

.faaImage {
    text-align:center;
}

.sampleVideos {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

iframe {
    width: 100vw;
    height: 90vh;
}

.whatwedo {
    text-align:center;
    padding: 20px;
}

.fab {
    font-size: 30px;
    color:white;
}

.social {
    margin-top: 10px;
}

.photoCover {
    width: 100%;
    height: 30vh;   
    margin: 0 auto;
}

.follow-request {
    position: relative;
    bottom: 6px;
    color:white;
    margin-left: 5px;
}

a:hover {
    text-decoration: none !important;
}

.photoCoverOverlay {
    background-color: rgba(256,256,256,0.9);
    text-align:center;
    position: relative;
    bottom: 40px;
    width: 100%;
    margin-bottom: 0px;
    padding: 3px;
}

.servicesRow {
    padding: 15px;
    margin-bottom: 25px;
}

.whatwedo h2 {
    margin-bottom: 20px;
}

#footer {
    text-align:center;
    background-color: rgb(146,220,150);
    padding: 15px 0px;
}

#footer p {
    margin-bottom: 0px;
    color:white;
}

/* iPad Pro Landscape*/
@media (max-width: 1367px) {
    .overlay {
        left: 100px;
    }

    .photoCover {
        height: 250px;
    }

}

/* iPad Pro portrait or iPad landscape*/
@media (max-width: 1025px) {
    .photoCover {
        height: 200px;
    }

    .overlay h3 {
        font-size: 20px;
    }

}

/* Breakpoint for Bootstrap where Nav turns into button */
@media (max-width: 992px) {
    .navbar-nav {
        position: static;
    }

}

/* iPhone X landscape */
@media (max-width: 813px) {

    .overlay .display-4 {
        font-size: 35px;
    }

    .overlay h3 {
        font-size: 25px; 
    }

    .overlay {
        padding: 20px;
    }

    .btn-light {
        padding: 10px;
    }

    .photoCover {
        height: 35vh;
    }

    .card-img-top {
        height: 150px;
    }
}

/* iPad portrait */
@media (max-width: 769px) {
    .display-4 {
        font-size: 40px;
    }

    .overlay {
        width: 350px;
        top: 175px;
        left: 75px;
        padding: 20px;
    }

    .card-img-top {
        height: 175px;
    }
    .photoCover {
        height: 150px;
    }

    #videoContainer {
        height: 500px;
    }
}

/* iPhone 6/7/8 landscape */
@media (max-width: 668px) {
    .display-4 {
        font-size: 30px;
    }

    .overlay h3 {
        font-size: 12px;
    }

    .btn-light {
    font-size: 12px !important;
    padding: 5px;
    }

    .video {
        top: 0px;
    }

    .photoCover {
        height: 200px;
        width: 350px;
    }

    #videoContainer {
        height: 300px;
    }

    .faaLogo {
        height: 125px;
        margin-bottom: 20px;
    }

    .card {
        width: 350px;
        margin: 0 auto 20px auto;
    }

    .card-img-top {
        height: 200px;
    }
}

/* iPhones vertical */
@media (max-width: 376px) {
    #videoContainer {
        height: 300px;
    }

    .photoCover {
        width: 300px;
        margin: 0 auto;
        height: 165px;
    }

    .overlay .display-4 {
        font-size: 16px;
    }

    .overlay {
        top: 125px;
        width: 200px;
        padding: 10px;
        left: 25px;
    }

    .overlay h3 {
        font-size: 10px;
        margin-bottom: 0px;
    }

    .btn-light {
        font-size: 12px !important;
        padding: 5px;
    }
    
    .card-img-top {
        height: 175px;
    }
    
    .card {
        width: 275px;
    }
}