#header {
    background-color: white;
    border-bottom: 1.5px solid lightgrey;
}
#logo {
    height: 80px;
}
.navbar-nav {
    position:absolute;
    right: 0px;
}
.nav-link {
    margin-left:10px;
    text-align:center;
}
.jumbotron {
    background-size: cover;
    margin-bottom:0px;
}
#videoContainer {
    padding: 0px;
    position: relative;
    height:85vh;
    overflow:hidden;
}
video {
    position:absolute;
    top:-200px;
    object-fit: fill;
}
.overlay {
    position: absolute;
    width: 70vw;
    background-color: rgba(0,0,0,0.8);
    color:white;
    padding: 50px 30px;
    border-radius: 5px;
    top: 100px;
    left:15vw;
    border: solid 1.5px rgb(100,100,100);
}
.whoWeAre {
    text-align:center;
    /* margin-top: 0px; */
}
.whoWeAre h2 {
    margin: 0 auto;
}
#FAA {
    padding: 30px 75px 30px 75px;
    margin-top:25px;
}
#compDescription {
    margin-top:0px;
    padding:25px;
    background-color:#F0F0F0;
}
.faaLicensed {
    display:flex;
    align-items: center;
    text-align:center;
    padding:50px;
}
.faaImage {
    text-align:center;
}

@media (max-width: 991px) {
    .navbar-nav {
        position: static;
    }
    #FAA {
        padding-right: 0px;
        padding-left: 0px;
    }
    .faaLicensed {
        padding-right: 0px;
        padding-left: 0px;
    }
}